
/* ----------------------- */

/* Container */
.contact-container {
    
    /* align-items: center; */
    /* min-height: 100vh; */
    background: url("../assets/city.jpg");
    
}

.big-size {
    padding: 20px;
    background: #12384e28;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(1px);
}



.side-info-contactUs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: #fff;

    .head-line-con {
        font-size: 27px;
        font-style: italic;
        color: #e4f046;
        text-align: center;
    }
    
    .user {
        padding-top: 3%;
        padding-left: 10%;
        font-size: 13px;
        font-style: italic;
        color: #e4f046;
        
    }

    .line-div {
        width: 58%;
        margin-top: 3%;
        margin-bottom: 8%;
        margin-left: 10%;
        color: white;

    }
}



/* Card */
.contact-card {
    /* background: #f8c3f3; */
    padding: 25px;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.contact-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #ffffff;
}

form {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    margin: 8px 0 4px;
    /* font-weight: 500; */
    color: #f88ee6;
}

input,
textarea {
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    transition: border 0.3s ease;
    resize: none;
    background: #fcecf92d;
    border: none;
    border-bottom: 1px solid rgb(211, 194, 194);
}

textarea {
    height: 10vh;
    scrollbar-width: thin;

}

input:focus,
textarea:focus {
    outline: none;

}


button {
    margin-top: 15px;
    padding: 12px;
    background: #8f4296;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #85377a;
}

.social-media {
    color: #84b1f5;
}

.user-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.location {
    display: flex;
    gap: 14px;
    width: 80%;
    padding: 10px;
    border-bottom:  0.1px solid #999999 ;
    
    
    .location-cont {
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
}

.Phone {
    display: flex;
    gap: 14px;
    width: 80%;
    padding: 15px;
    border-bottom:  0.1px solid #999 ;
    
    
    .Phone-cont {
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
}

.Email {
    display: flex;
    gap: 14px;
    width: 80%;
    padding: 15px;
    border-bottom:  1px solid #999 ;
    
    
    .Email-cont {
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
}


.social {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-size: 20px; 
}


@media (max-width : 1090px) {

    .big-size {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: red; */
    }
}