* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    /* transition: 0.5s; */
    /* scrollbar-width: none; */
}

.h5:visited {
    color: #d2effd;
    border-bottom: 1.5px solid #2698d100;
    text-decoration: none;
    border: none;
    text-shadow: none;

}

.main-container {
    background: #082f43;
    height: auto;
    color: white;
}

#logo {
    padding-left: 20px;
}

.navbar-div {
    height: 60px;
}

.navbar {
    display: flex;
    /* background: #05646466; */
    background: #0c575a;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    gap: 55vw;
    z-index: 1;
    height: 60px;
    /* backdrop-filter: blur(5px); */
    transition: 0.3s;
}

.navbar:hover {
    transition: 0.7s;
    background: #04494966;
}

.side-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    font-size: 17px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo-img {
    height: 2.5vw;
    width: 2.3vw;

}

.h5 {
    text-decoration: none;
    /* font-weight: 100; */
}



.side-nav .h5 {
    cursor: pointer;
    transition: 0.5s;
    backdrop-filter: blur(0px);
    border-bottom: 1.5px solid #2698d100;
}

.side-nav .h5:hover {
    border-bottom: 1.5px solid #9557dd;
    transition: 0.5s;
    color: #9bbfd1;
}

.side-nav .h5:active {
    transition: 0.5s;
    scale: 0.90;
}


/* ------------Nav--------------- */

.aside-container {
    margin-top: 8vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 80px;
    padding: 2px;
    /* height: 20px; */
}

.aside-row {
    width: 35vw;
    padding-left: 30px;
}

.aside-name {
    padding-top: 10px;


    .top-h2-home {
        font-size: 18px;
        font-weight: bold;
    }

    .top-im {
        font-size: 40px;
        font-weight: 600;
        padding-left: 20px;

    }

    .home-name {
        font-size: 50px;
        font-weight: 700;
        color: #9557dd;
    }
}

.web-intro {
    margin-top: 1.5vw;

    .web-text {
        font-size: 15px;

        #bar {
            color: #9c63df;
        }
    }

    .web-contant {
        font-size: 12px;
        padding-left: 10px;
        padding-top: 10px;

        span {
            visibility: hidden;
        }
    }

    .btn {
        margin-top: 4vw;
        width: 10vw;
        border-radius: 5px;
        background: #8b4ae0f6;
        outline: none;
        transition: 0.5s;
        border: 1px solid #3aa0cf;

        a {
            font-size: 1.2vw;
            text-decoration: none;
            color: #fff;
        }

    }

    button:hover {
        background: #9d68ff;
        border-radius: 30px;
        transition: 0.5s;

        a {
            color: #082f43;
        }
    }


}


.my-image-home {
    padding: 10px;
    height: 29vw;

    .profile-home {
        height: 30vw;
        margin-right: 10vw;
        border-radius: 30vw;
        border: 2px solid rgb(151, 110, 197);
        box-shadow: 0 0 70px 10px #37a7df;
    }
}

.div-social {
    margin-top: 3vw;
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: row;
    gap: 2vw;

}

.social-logo {
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: none;
    /* font-size: 1.3vw; */
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.works {
    margin: 30px 0;

    .work-text {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .work-contant {
        border: 1px solid wheat;
        /* height: 50px; */
        margin-left: 20px;
        padding: 3px 7px;

        border-radius: 5px;
        background: #c577e459;
    }

    .hack {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
        padding-top: 10px;
        /* width: 200px; */

        span {
            padding: 9px;
            /* padding-bottom: -100px; */

        }
    }
}

.second-div {
    display: none;
    transform: translate(-100px) !important;
    transition: 1s;
}

.menu-div {
    position: absolute;
    top: 7px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    display: none;
    cursor: pointer;
    /* background: #000; */
    padding: 5px;
    /* transition: 1s; */
}

.menu-nav {
    transition: 1s !important;
    transform: translateY(00px);
    background: #11294e7a;
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    font-size: 20px;

    .items {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3vw;

        h5 {
            color: #ffffff;
            padding: 5px 10px;
            border: 1px solid #ff000000;
            border-bottom-color: #c245d3;
        }
    }

    .cut {
        position: absolute;
        top: 7px;
        right: 30px;
        padding: 10px;
        font-size: 25px;
        transition: 0.5s;
    }

}

@media (max-width : 1000px) and (min-width : 601px) {
    .navbar {
        gap: 40vw;
    }

    .works {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 200px;
        font-size: 17px;
    }

    .my-image-home {

        .profile-home {
            margin-top: 100px;
            width: 305px;
            height: 360px;
            /* margin-left: 120px; */

        }

    }

    .hack {
        flex-direction: column;
        gap: 10px;
        width: 200px;
    }
}

@media (max-width : 600px) {
    .navbar .menu-div {
        display: block;
    }

    .logo-img {
        height: 30px;
        width: 25px;
    }

    /* .navbar-div {
        height: 230px;
    } */

    .hack {
        flex-direction: column;
        gap: 10px;
        width: 200px;
        margin-bottom: 50px;
    }

    .side-nav {
        display: none;
    }

    .web-contant {
        margin-bottom: 35px;
    }


    .aside-container {
        flex-direction: column-reverse;

        .my-image-home {
            padding-left: 50px;
            display: flex;
            align-items: center;
            justify-content: center;


            .profile-home {

                width: 250px;
                height: 300px;
                margin-bottom: 30px;
            }
        }

        .aside-row {
            margin-top: 100px;
            width: 80%;
        }

        .btn {
            width: 160px;
            margin-bottom: 40px;

            a {
                font-size: 17px;
            }
        }
    }



}

/* ------------About--------------- */

.About-container {

    h1 {
        text-align: start;
        padding: 2vw 4vw;
    }

    img {
        height: 30vw;
        width: 25vw;
        border-radius: 2vw;
    }
}

.info-section {
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
    gap: 18vw;
}

.info-intro {
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-overflow: ellipsis;
    padding: 10px;
    width: 40vw;
    border: 2px solid white;
    /* background: #000; */
    border-radius: 10px;

    h2 {
        color: #9c63df;
        padding-bottom: 10px;
        font-size: 33px;
    }

    h4 {
        color: #2698d1;
        font-style: italic;
        padding-bottom: 10px;
    }

    p {
        font-size: 15px;
        padding-bottom: 7px;
        color: white;

        span {
            visibility: hidden;
        }
    }
}

.exp {
    padding-left: 30px;
    margin: 3vw 0;
    color: #d7ec17;
}

.achive-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: auto; */

    /* overflow: hidden; */

    #box-1,
    #box-2,
    #box-3,
    #box-4 {
        border: 1px solid cyan;
        /* width: 40%; */

        /* height: 25vh; */
        overflow: hidden;
        /* set auto */
        padding: 8px;
        margin: 1vw;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        color: white;
    }

}

.info-head {
    font-size: 23px;
    color: #e683ff;
}

@media (min-width : 1000px) {
    .achive-div {

        div {
            width: 40%;
            height: auto;
        }
    }
}

@media (max-width : 1000px) {
    .achive-div {

        div {
            /* width: 40%; */
            height: auto;
        }
    }
}

@media (max-width : 600px) {

    .achive-div {
        flex-direction: column;
        overflow: hidden;
        gap: 5vw;

        div {
            width: 70%;
        }



    }

    .info-img {
        margin-left: 20px;
        border: none;

        img {
            width: 370px;
            height: 465px;
            border-top-left-radius: 100px;

        }
    }
}

@media (min-width : 600px) and (max-width : 1000px) {

    .achive-div {
        flex-direction: column;
        overflow: hidden;
        gap: 5vw;

        div {
            width: 70%;
        }

    }

    .info-img {
        /* background: #000; */
        margin-left: 20px;

        img {
            width: 370px;
            height: 465px;

        }
    }
}


@media (max-width : 800px) {

    .info-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info-img {
            img {
                height: 356px;
                width: 300px;
                border-radius: 40px;
            }

        }
    }

    .achive-div {
        gap: 30px;
    }



    .info-intro {
        width: 80%;
        text-align: justify;
    }

    .img-jod {
        height: 1000px;
    }

}

/* ------------Skills--------------- */

.head {
    padding-top: 5vw;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;

}

.aside-skills-container {
    margin-top: 5vw;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    font-size: 20px;
    padding-left: 30px;
}

.lag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.9vw;

    progress {
        width: 350px;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
    gap: 30px;
}


.h4 {
    color: #94449e;
    margin-bottom: 10px;
}


#skill-box-1,
#skill-box-2 {
    width: 70%;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 200px;
    margin-top: 0.9vw;
    padding: 10px;
}

@media (max-width : 600px) {

    .aside-skills-container {
        progress {
            width: 45%;
            height: 12px;
        }
    }

}

/* ------------Contact--------------- */

.main-con {
    margin-top: 4vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #03121ab6;
}

.social-container {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 0.2vw;
    cursor: pointer;

    span {
        color: white;
        font-size: 14px;

    }
}

.side-div-con {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.side-div-con .link1 {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.copy {
    background: #03121ab6;
    text-align: center;
    font-size: 12px;
}


@media (max-width : 1000px) {

    .box {
        flex-direction: column;
    }
}

@media (max-width : 600px) {
    .main-con {
        /* background: red; */
        flex-direction: column;
        gap: 30px;
    }
}